body {
    background-color: #1F1F1F;
}

h1 {
    font-family: Tahoma;
    font-size: 45px;
    
}

form {
	padding-left: 10%;
	padding-top: 10px;
}

#header {
	color: white;
    text-align: left;
	padding-left: 10%;
    padding-top: 7%;
}
